- name: Install CLI utils
  apt:
    pkg:
      - curl
      - build-essential
      - libcurl4-openssl-dev
      - python3-arvados-python-client
      - ruby
      - ruby-dev
      - bundler
      - python3-arvados-cwl-runner
      - python-arvados-fuse
    state: present
    update_cache: true

- name: "Global git config part 1"
  command: git config --system 'credential.https://git.{{ cluster_id }}.{{ external_domain }}/.username' non

- name: "Global git config part 2"
  command: git config --system 'credential.https://git.{{ cluster_id }}.{{ external_domain }}/.helper' '!cred(){ cat >/dev/null; if [ "$1" = get ]; then echo password=$ARVADOS_API_TOKEN; fi; };cred'

- name: Install Ruby utils
  command: gem install arvados-cli

# This should return the UUID of the VM ID in arv_output.stdout
- name: Setup VM entry
  command: arv --format=uuid virtual_machine create --virtual-machine '{"hostname":"arvados-shell.{{ cluster_id }}.{{ external_domain }}"}'
  environment:
    ARVADOS_API_HOST: "{{ controller_internal_address }}"
    ARVADOS_API_HOST_INSECURE: "true"
    ARVADOS_API_TOKEN: "{{ system_root_token }}"
  register: arv_output

- name: Install login sync
  command: gem install arvados-login-sync

- name: Setup cron
  ansible.builtin.template:
      src: "arvados-login-sync.j2"
      dest: "/etc/cron.d/arvados-login-sync"