- name: Install CLI utils
  apt:
    pkg:
      - curl
      - build-essential
      - libcurl4-openssl-dev
      - python3-arvados-python-client
      - ruby
      - ruby-dev
      - bundler
      - python3-arvados-cwl-runner
    state: present
    update_cache: true

- name: "Global git config part 1"
  command: git config --system 'credential.https://git.{{ cluster_id }}.{{ external_domain }}/.username' non

- name: "Global git config part 2"
  command: git config --system 'credential.https://git.{{ cluster_id }}.{{ external_domain }}/.helper' '!cred(){ cat >/dev/null; if [ "$1" = get ]; then echo password=$ARVADOS_API_TOKEN; fi; };cred'

- name: Install Ruby utils
  community.general.gem:
    name: arvados-cli
    state: present

# This should return the UUID of the VM ID in arv_output.stdout
- name: Setup VM entry
  command: ARVADOS_API_HOST=arvados-api API_HOST_INSECURE=true ARVADOS_API_TOKEN={{ system_root_token }} arv --format=uuid virtual_machine create --virtual-machine '{"hostname":"arvados-shell.{{ cluster_id }}.{{ external_domain }}"}'
  register: arv_output

- name: Install login sync
  community.general.gem:
    name: arvados-login-sync
    state: present

- name: Setup cron
  ansible.builtin.template:
      src: "arvados-login-sync.j2"
      dest: "/etc/cron/arvados-login-sync"