- name: "Install Keepproxy"
  apt:
    name: "keepproxy"
    state: present

- name: "Enable and start Keepproxy"
  ansible.builtin.systemd:
    name: 'keepproxy'
    enabled: yes
    state: started

- name: "Install Keep-web"
  apt:
    name: "keep-web"
    state: present

- name: "Enable and start Keep-web"
  ansible.builtin.systemd:
    name: 'keep-web'
    enabled: yes
    state: started

- name: "Install Keep-balance"
  apt:
    name: "keep-balance"
    state: present

- name: "Enable and start Keep-balance"
  ansible.builtin.systemd:
    name: 'keep-balance'
    enabled: yes
    state: started
