- name: "Install nginx on keepproxy host"
  apt:
    name: "nginx"
    state: present

- name: "Install Ruby on keepproxy host"
  apt:
    name: "ruby"
    state: present

- name: "Install Ruby dev package on keepproxy host"
  apt:
    name: "ruby-dev"
    state: present

- name: "Install Bundler on keepproxy host"
  apt:
    name: "bundler"
    state: present

- name: "Remove default nginx config"
  ansible.builtin.file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: "Install keepproxy nginx config"
  template:
    dest: /etc/nginx/conf.d/arvados_keepproxy.conf.j2
    src: arvados_keepproxy.conf.j2

- name: "Install keep-web nginx config"
  template:
    dest: /etc/nginx/conf.d/arvados_keepweb.conf.j2
    src: arvados_keepweb.conf.j2

- name: "Install Keepproxy"
  apt:
    name: "keepproxy"
    state: present

- name: "Enable and restart Keepproxy"
  ansible.builtin.systemd:
    name: 'keepproxy'
    enabled: yes
    state: restarted

- name: "Install Keep-web"
  apt:
    name: "keep-web"
    state: present

- name: "Enable and restart Keep-web"
  ansible.builtin.systemd:
    name: 'keep-web'
    enabled: yes
    state: restarted

- name: "Install Keep-balance"
  apt:
    name: "keep-balance"
    state: present

- name: "Enable and start Keep-balance"
  ansible.builtin.systemd:
    name: 'keep-balance'
    enabled: yes
    state: restarted

- name: "Enable and restart nginx"
  ansible.builtin.systemd:
    name: 'nginx'
    enabled: yes
    state: restarted
