- name: "Install nginx"
  apt:
    name: "nginx"
    state: "present"

- name: "Add Arvados nginx config file"
  copy:
    dest: "/etc/nginx/conf.d/arvados-workbench2.conf"
    content: |
      server {

        listen       80;
        server_name  workbench2.bwarv.broken.works;

        index  index.html;
        location /config.json {
          return 200 '{ "API_HOST": "bwarv.broken.works" }';
        }
        location / {
          root      /var/www/arvados-workbench2/workbench2;
          index     index.html;
          try_files $uri $uri/ /index.html;
          if (-f $document_root/maintenance.html) {
            return 503;
          }
        }
      }

- name: "Install Workbench2"
  apt:
    name: "arvados-workbench2"
    state: present

- name: "Enable and start Workbench2"
  ansible.builtin.systemd:
    name: 'workbench2'
    enabled: yes
    state: started