- name: "Install nginx on Workbench host"
  apt:
    name: "nginx"
    state: present

- name: "Install Ruby on Workbench host"
  apt:
    name: "ruby"
    state: present

- name: "Install Ruby dev package on Workbench host"
  apt:
    name: "ruby-dev"
    state: present

- name: "Install Bundler on API host"
  apt:
    name: "bundler"
    state: present

- name: "Remove default nginx config"
  ansible.builtin.file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: "Install Passenger"
  apt:
    name: libnginx-mod-http-passenger
    state: present

- name: "Install Passenger conf"
  ansible.builtin.file:
    src: /usr/share/nginx/modules-available/mod-http-passenger.load
    dest: /etc/nginx/modules-enabled/50-mod-http-passenger.conf
    owner: www-data
    group: www-data
    state: link

- name: "Add Arvados nginx config file"
  copy:
    dest: "/etc/nginx/conf.d/workbench.conf"
    content: |
      server {
        listen       80;
        server_name  workbench.bwarv.broken.works;

        root /var/www/arvados-workbench/current/public;
        index  index.html;

        passenger_enabled on;

        client_max_body_size 1024m;

        location /composer {
          root   /var/www/arvados-composer;
          index  index.html;
        }

        location /composer/composer.yml {
          return 200 '{ "API_HOST": "bwarv.broken.works" }';
        }
      }

- name: "Install Webshell config file"
  template:
    src: arvados-webshell.conf.j2
    dest: "/etc/nginx/conf.d/arvados-webshell.conf"

- name: "Install postgresql-client"
  apt:
    name: "postgresql-client"
    state: present

- name: "Install Workbench"
  apt:
    name: "arvados-workbench"
    state: present

- name: "Install Composer"
  apt:
    name: "arvados-composer"
    state: present

- name: "Restart nginx"
  systemd:
    name: nginx
    daemon-reload: yes
    state: restarted