upstream keep-web {
  server                127.0.0.1:9002;
}

server {
  listen                80;
  server_name           download.{{ cluster_id }}.{{ internal_domain }}
                        collections.{{ cluster_id }}.{{ internal_domain }}
                        *.collections.{{ cluster_id }}.{{ internal_domain }}
                        ~.*--collections.{{ cluster_id }}.{{ internal_domain }};

  proxy_connect_timeout 90s;
  proxy_read_timeout    300s;

  ssl                   on;
  #ssl_certificate       /YOUR/PATH/TO/cert.pem;
  #ssl_certificate_key   /YOUR/PATH/TO/cert.key;

  location / {
    proxy_pass          http://keep-web;
    proxy_set_header    Host            $host;
    proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;

    client_max_body_size    0;
    proxy_http_version      1.1;
    proxy_request_buffering off;
    proxy_max_temp_file_size 0;
  }
}