---
# Installs and starts Postgres on container, creates user, db

- name: "Install Postgres"
  apt:
    name: "postgresql"
    state: present

- name: "Install Postgres-contrib"
  apt:
    name: "postgresql-contrib"
    state: present

- name: "Install libpq-dev"
  apt:
    name: "libpq-dev"
    state: present

- name: "Permit external connections in postgresql.conf"
  lineinfile:
    path: /etc/postgresql/10/main/postgresql.conf
    regexp: '^listen_addresses = '
    line: listen_addresses = '*'

- name: "Permit external connections in pg_hba.conf"
  copy:
      dest: /etc/postgresql/10/main/pg_hba.conf
      content: |
      

        # TYPE  DATABASE        USER            ADDRESS                 METHOD

        # "local" is for Unix domain socket connections only
        local   all             all                                     peer
        # IPv4 local connections:
        host    all             all             127.0.0.1/32            md5
        # IPv6 local connections:
        host    all             all             ::1/128                 md5
        # Allow replication connections from localhost, by a user with the
        # replication privilege.
        local   replication     all                                     peer
        host    replication     all             127.0.0.1/32            md5
        host    replication     all             ::1/128                 md5
        host	all		all		0.0.0.0/0		md5

- name: "Maybe restart Postgres for good measure"
  ansible.builtin.systemd:
    name: 'postgresql'
    state: restarted
    
- name: "Enable and start Postgres"
  ansible.builtin.systemd:
    name: 'postgresql'
    enabled: yes
    state: started

- name: "Install psycopg2 for Ansible support"
  pip:
    name: 'psycopg2'

- name: Create arvados user with appropriate settings
  community.postgresql.postgresql_user:
    name: arvados
    password: idontreallycaredou
    role_attr_flags: NOCREATEROLE,NOSUPERUSER

- name: Create a new database with name "arvados_production" with owner "arvados" UTF-8 encoding and template0 template
  community.postgresql.postgresql_db:
    name: arvados_production
    encoding: UTF-8
    template: template0
    owner: arvados

- name: "Just in case we screwed this up somehow"
  become: true
  become_user: postgres
  shell: psql -c "GRANT ALL PRIVILEGES ON DATABASE arvados_production TO arvados;"
  ignore_errors: yes

- name: Adds pgtrm extension
  become: true
  become_user: postgres
  community.postgresql.postgresql_ext:
    name: pg_trgm
    db: arvados_production
